<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://192.168.181.88:8081/app.ipa</string>
		<key>displayImageURL</key>
		<string>https://192.168.181.88:8081/57.ipa</string>
		<key>fullSizeImageURL</key>
		<string>https://192.168.181.88:8081/512.ipa</string>
	</dict>
	<key>method</key>
	<string>enterprise</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.jxyd.IOSCangChuZuoYe</key>
		<string>CangChuZuoYe</string>
	</dict>
	<key>signingCertificate</key>
	<string>1CFA7AE70C645280964DCA07A409833648A78D25</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>NQN5LU3YEK</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
